* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  background: #0c2f2b;
  color: white;
  display: grid;
  place-items: center;
  overflow: hidden;

  background-image: url(../img/FundoVerde.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    min-height: 100vh; 
    width: 100%;
}

/* --- Área do Logo (Topo) --- */
.top-header {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px; 
}

.logo-aida {
    padding-top: 20px;
    width: 350px; 
    height: auto;
    filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.2));

}

/* --- Área Central (Card) --- */
.center-stage {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;

}

/* Estilo do Card */
.card-selecao {
    background-color: rgba(0, 0, 0, 0.18);
    padding: 60px 80px; 
    border-radius: 25px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
    text-align: center;
    width: 500px; 
    max-width: 90%; 
    backdrop-filter: blur(5px);

}

.texto-instrucao {
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 35px;
    letter-spacing: 0.5px;
}

/* Estilo do Botão */
.btn-estilizado {
    background: linear-gradient(135deg, #134943, #127369);
    color: #c5dddb;
    border: none;
    padding: 15px 45px;
    border-radius: 12px;
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 1.5px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.2);
    border: 0.1px solid #127369;
}

/* Efeitos de interação no botão */
.btn-estilizado:hover {
    transform: translateY(-3px);
}

.btn-estilizado:active {
    transform: translateY(0);
}

/* --- Responsividade (Celulares e Tablets pequenos) --- */
@media (max-width: 768px) {
    .top-header {
        padding-top: 30px;
    }

    .logo-aida {
        max-width: 220px;
    }

    .card-selecao {
        padding: 40px 30px;
    }

    .texto-instrucao {
        font-size: 1.1rem;
        margin-bottom: 25px;
    }

    .btn-estilizado {
        padding: 12px 35px;
        font-size: 0.9rem;
    }
}